
<div class="well" id="answerBox">
  <ul>
    <h5>{{answer.content}}</h5>
    <li>Author: {{answer.name}}</li>
    <li>Rating: {{answer.rating}}</li>
  </ul>
  <button {{action 'delete' answer}}>Delete Answer</button>
</div>
