.well{
  margin-left: 10%;
  margin-right:10%;
  margin-top: 5%;
}


#box{
  margin-left: 2%;
  margin-top: 2%;
}

#answerBox{
  margin-left: -1%;
  margin-top: 2%;
}


.jumbotron{
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}
