

<div class="jumbotron">
  <h3>AskDevs was founded in 2017 by Alez Lee. We implemented the idea of yahoo answers and decided to write in Ember. Yes, Ember...</h3>

  <h5>Ask your devs! No more questions!</h5>

</div>
