


<div class="jumbotron">

  <h2>Contact AskDevs!</h2>

  <h5>
    AskDEVS Senpai HeadQuarter<br>
    14423 Irving St<br>
    Kokomonendo, Japan
  </h5>

  <h3>(503) 232-2312</h3>

  <h3>wallblog@askdevs.com</h3>

</div>
