



  <div class="well">
    <div class="">
        {{new-question saveQuestion2="saveQuestion3"}}
        {{#each model.questions as |question|}}
        <div class="well" id="box">
          <h2>{{question.title}}</h2>
          <p>By {{question.name}}</p>
          {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
        </div>
        {{/each}}


    </div>

</div>
